

<mat-card appearance="outlined">

  <mat-card-header>
    <div mat-card-avatar class="flex items-center justify-center text-white text-xs" style="background-color: #155DFC;"
       >
      {{ item.remaining}}/{{item.total }}
    </div>

    <mat-card-subtitle class="text-[14px]">{{ title }}</mat-card-subtitle>
    <!-- <mat-card-subtitle *ngIf="subtitle">{{ subtitle }}</mat-card-subtitle> -->
  </mat-card-header>

  <!-- <mat-card-content>
    <ng-content></ng-content>

    <div  class="mt-2">
      <mat-progress-bar mode="determinate"
                        [value]="item.remaining/item.total">
      </mat-progress-bar>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <ng-content select="[card-actions]"></ng-content>
  </mat-card-actions> -->

</mat-card>

